/*FontStyles*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700;900&display=swap');


@media screen and (min-width: 1311px) {

.LoginHeaderPic{
    position: absolute;
    width: 3vw;
    height: 6vh;
    left: 3vw;
    top: 4vh;
    border-style: none;
}

.LoginBox{
    position: absolute;
    width: 29.5vw;
    height: 75vh;
    left: 60vw;
    top: 17vh;

    background: #FFFFFF;
    box-shadow: 0.75rem 0.75rem 1.5rem rgba(153, 153, 153, 0.25);
    border-radius: 1.25rem;
}

.IsidoreText{
    position: absolute;
    font-family: 'Museo Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #0566AA;
    width: 18vw;
    height: 3vh;
    left: 8vw;
    top: 6vh;
}

.BoyBg{
    position: absolute;
    width: 5vw;
    height: 70vh;
    left: 10vw;
    top: 29vh;
}

.StudentText{
    position: absolute;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.8125rem;
    width: 42vw;
    height: 17vh;
    left: 6vw;
    top: 17vh;

    color: #464646;
}

.HelloText{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.3125rem;
    line-height: 2.8125rem;
    color: #464646;
    width: 18vw;
    height: 5vh;
    left: 69vw;
    top: 25vh;
}

.Line{
    position: absolute;
    width:  9.375vw;
    height: 0px;
    left: 70vw;
    top: 45vh;
}

.Ptext{
    position: absolute;
    font-family: 'Museo Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 1.75rem;
    text-align: center;
    color: #6C6C6C;
    width: 50vw;
    height: 7vh;
    left: 50vw;
    top: 34vh;
  }

  .Rec1{
    position: absolute;
    width: 25vw;
    height: 7vh;
    left: 62vw;
    top: 54vh;
    background: #EFEFEF;
    border-radius: 10px;
  }

.Rec1Text{
    position: absolute;
    width: 24.8vw;
    height: 7vh;
    left: 62.2vw;
    top: 54vh;
    outline:none;
    border: none;
    background-color: transparent;
    resize: none;
    
    background: #EFEFEF;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
}

.Rec2{
    position: absolute;
    width: 25vw;
    height: 7vh;
    left: 62vw;
    top: 65vh;

    background: #EFEFEF;
    border-radius: 10px;
}

.Rec2Text{
    position: absolute;
    width: 24.8vw;
    height: 7vh;
    left: 62.2vw;
    top: 65vh;
    outline:none;
    border: none;
    background-color: transparent;
    resize: none;
    
    background: #EFEFEF;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
}

.LoginActionBtn{
    position: absolute;
    width: 20vw;
    height: 6.35vh;
    left: 65vw;
    top: 76vh;

    background: #0566AA;
    box-shadow: 0.75rem 0.75rem 1.5rem rgba(50, 50, 50, 0.07);
    border-radius: 10px;

/* LOGIN */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;

    color: #FFFFFF;
}

.LoginActionBtn:hover{
    background-color: #0555AA;
}

.ForgotPassBtn{
    position: absolute;
    width: 20vw;
    height: 2.3vh;
    left: 70vw;
    top: 84.8vh;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration-line: underline;

    color: #0566AA;
    outline:none;
    border: none;
    background-color: transparent;
    resize: none;
}


::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color:#979797;
}
}

@media screen and (max-width: 1310px) {
.LoginHeaderPic{
    position: absolute;
    width: 3vw;
    height: 3vh;
    left: 3vw;
    top: 3vh;
    border-style: none;
}
    
.LoginBox{
    position: absolute;
    width: 80vw;
    height: 70vh;
    left: 10vw;
    top: 24vh;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0.75rem 0.75rem 1.5rem rgba(153, 153, 153, 0.25);
    border-radius: 1.25rem;
}
    
.IsidoreText{
    position: absolute;
    font-family: 'Museo Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    color: #0566AA;
    left: 19vw;
    top:4vh;
}

.BoyBg{
    visibility: hidden;
}

.StudentText{
    position: absolute;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    width: 100vw;
    height: 5vh;
    left: 3vw;
    top: 13vh;
    color: #464646;
}

.HelloText{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.3125rem;
    line-height: 2.8125rem;
    color: #464646;
    text-align: center;
    width: 50vw;
    height: 5vh;
    left:28vw;
    top: 27vh;
}

.Line{
    position: absolute;
    width:  9.375vw;
    height: 0px;
    text-align: center;
    left: 35vw;
    top: 45vh;
}

.Ptext{
    position: absolute;
    font-family: 'Museo Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4375rem;
    line-height: 1.75rem;
    text-align: center;
    color: #6C6C6C;
    width: 50vw;
    height: 7vh;
    left: 30vw;
    top: 34vh;
  }

  .Rec1{
    position: absolute;
    width: 45vw;
    height: 7vh;
    left: 20vw;
    top: 54vh;
    background: #EFEFEF;
    border-radius: 10px;
  }

.Rec1Text{
    position: absolute;
    width: 60vw;
    height: 7vh;
    left: 21vw;
    top: 54vh;
    outline:none;
    border: none;
    background-color: transparent;
    resize: none;
    
    background: #EFEFEF;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
}

.Rec2{
    position: absolute;
    width: 60vw;
    height: 7vh;
    left: 20vw;
    top: 65vh;

    background: #EFEFEF;
    border-radius: 10px;
}

.Rec2Text{
    position: absolute;
    width: 60vw;
    height: 7vh;
    left: 21vw;
    top: 65vh;
    outline:none;
    border: none;
    background-color: transparent;
    resize: none;
    
    background: #EFEFEF;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    
}

.LoginActionBtn{
    position: absolute;
    width: 45vw;
    height: 6.35vh;
    left: 28vw;
    top: 76vh;

    background: #0566AA;
    box-shadow: 0.75rem 0.75rem 1.5rem rgba(50, 50, 50, 0.07);
    border-radius: 10px;

/* LOGIN */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.4375rem;

    color: #FFFFFF;
}

.LoginActionBtn:hover{
    background-color: #0555AA;
}

.ForgotPassBtn{
    position: absolute;
    width: 40vw;
    height: 2.3vh;
    left: 35vw;
    top: 84.8vh;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-decoration-line: underline;

    color: #0566AA;
    outline:none;
    border: none;
    background-color: transparent;
    resize: none;
}

::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color:#979797;
}


}

